/* header */

.header{
    background: #FFC8BA;
    text-align: center;
    border-radius: 20px;
}
.home{
    border-radius:50px;
}
/* apropos*/
.photo-profil{
    width: 75%;
    height:75%;
}
.cadre-profil{
    background: #FFC8BA;
}
.cadre-text{
    border-radius: 20px;
    width:90%;
    height: 85%;
    
}
/*formation */
.cadre-formation{
    background: #FFC8BA;
}
.text-formation{
text-align: center;
}
.logo-formation{
    width:25%;
    height:50%;
}
.formation{
    border-radius: 20px;
    max-width: 90%;
    max-height: 25%;
}
.bouton-formation{
    border-radius: 50px;
    color: #FFC8BA;
}
/* compétences */
.carte-competence{
    max-width: 75%;
    max-height:50%;
    border-radius: 10px;
}
.image-competence{
    margin: 0 auto;

}
.text-competence{
    text-align: center;
    font-size:40px;

}
/* qualité */

.qualité {
    background: #FFC8BA;
    height: 75%;
}
.text-qualite{
    font-size: 22px;
}
.a .image-qualité{
    float: right;
}
/* experience */
.experience{
    
}
.carte-experience{
    background: #FFC8BA;
}
/* centre-dinteret */
.text-interet{
    font-size: 20px;
}
.titre-interet{
    color: #FFC8BA;
}
.text-langue{
    font-size: 30px;
}
/* services */
.cadre-service{
    border-radius: 10px;
    width: 98%;
    height:50%;

}
.titre-service{
    color: #FFC8BA;
    font-size: 20px;
}
/* contact */
.cadre-contact{
    background-color: #FFC8BA;
}
.bouton-contact{

}
.message{
    height: 75%;
}
.texte-contact{
    color: #FFC8BA;
    border-radius:50px;
    text-align: center;
}
.coordonne{
    font-size: 20px;
}