/* header */

.header{
    background: #FFC8BA;
    text-align: center;
    border-radius: 20px;
}
.home{
    border-radius:50px;
}
/* apropos*/
   .photo-profil{
    width: 75%;
    height:75%;
}
.cadre-profil{
    background: #FFC8BA;
}
.cadre-text{
    border-radius: 20px;
    width:90%;
    height: 85%;
    
}