/* header */

.header{
    background: #FFC8BA;
    text-align: center;
    border-radius: 20px;
}
.home{
    border-radius:50px;
}
/* apropos*/
.photo-profil{
    width: 75%;
    height:75%;
}
.cadre-profil{
    background: #FFC8BA;
}
.cadre-text{
    border-radius: 20px;
    width:90%;
    height: 85%;
    
}
/*formation */
.cadre-formation{
    background: #FFC8BA;
}
.text-formation{
 text-align: center;
}
.logo-formation{
    width:25%;
    height:50%;
}
.formation{
    border-radius: 20px;
    max-width: 90%;
    max-height: 25%;
}
.bouton-formation{
    border-radius: 50px;
    color: #FFC8BA;
}
/* compétences */
.carte-competence{
    max-width: 75%;
    max-height:50%;
    border-radius: 10px;
}
.image-competence{
    margin: 0 auto;

}
.text-competence{
    text-align: center;
    font-size:40px;

}